<app-top-bar></app-top-bar>

<div class="new-cont" *ngIf="onlyLoadForModel">
  <div class="text-start">
    Для начала работы загрузите информацию о бронированиях с известной
    информацией об отменах
  </div>

  <div class="start-cont-ques">
    <div>
      <label for="fileUpload" class="upload file-train"></label>
      <input
        hidden
        title=" "
        type="file"
        id="fileUpload"
        accept="text/csv"
        multiple
        #fileInput
        (change)="onFileSelected($event, true)"
      />
    </div>
    <div class="img-cont">
      <img
        style="width: 30px; cursor: pointer; height: 30px; align-self: center"
        src="/assets/question.svg"
        (click)="openHint()"
      />
    </div>
  </div>
</div>

<div
  class="cont-base"
  *ngIf="onlyLoadForModel !== undefined && !onlyLoadForModel"
>
  <div class="buttons">
    <div style="padding:15px; margin-right: auto;"> API ключ: {{apiKey }}</div>
    <div>
      <label for="fileUpload2" class="upload file-train-new"></label>
      <input
        hidden
        title=" "
        type="file"
        id="fileUpload2"
        accept="text/csv"
        multiple
        #fileInput
        (change)="onFileSelected($event)"
      />
    </div>

    <label for="filePrediction" class="upload file-predict"></label>
    <input
      hidden
      title=" "
      type="file"
      id="filePrediction"
      accept="text/csv"
      multiple
      #fileInput
      (change)="onGetPredictions($event)"
    />
  </div>

  <div class="selects" *ngIf="isDataReady">
    <mat-form-field *ngIf="yearControl">
      <mat-select [formControl]="yearControl">
        <mat-option *ngFor="let year of years" [value]="year">{{year}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="monthControl">
      <mat-select [formControl]="monthControl">
        <mat-option
          *ngFor="let it of [].constructor(12); let i = index"
          [value]="i"
          >{{ getMonth(i) }}</mat-option
        >
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="dayControl">
      <mat-select [formControl]="dayControl">
        <mat-option
          *ngFor="let it of [].constructor(31); let i = index"
          [value]="i"
          >{{ i + 1 }}</mat-option
        >
      </mat-select>
    </mat-form-field>
  </div>

  <div class="table-container">
    <table
      mat-table
      *ngIf="tableData && isDataReady"
      [dataSource]="tableData"
      class="mat-elevation-z8"
    >
      <ng-container matColumnDef="BookingId">
        <th mat-header-cell *matHeaderCellDef>Id бронирования</th>
        <td mat-cell *matCellDef="let element">{{ element.BookingId }}</td>
      </ng-container>

      <ng-container matColumnDef="ArrivalDateYear">
        <th mat-header-cell *matHeaderCellDef>Год заселения</th>
        <td mat-cell *matCellDef="let element">
          {{ element.ArrivalDateYear }}
        </td>
      </ng-container>

      <ng-container matColumnDef="ArrivalDateMonth">
        <th mat-header-cell *matHeaderCellDef>Месяц заселения</th>
        <td mat-cell *matCellDef="let element">
          {{ element.ArrivalDateMonth }}
        </td>
      </ng-container>

      <ng-container matColumnDef="ArrivalDateDayOfMonth">
        <th mat-header-cell *matHeaderCellDef>День заселения</th>
        <td mat-cell *matCellDef="let element">
          {{ element.ArrivalDateDayOfMonth }}
        </td>
      </ng-container>

      <ng-container matColumnDef="AddInfo">
        <th mat-header-cell *matHeaderCellDef>Дополнительная информация</th>
        <td mat-cell *matCellDef="let element">
          {{ element.AddInfo }}
        </td>
      </ng-container>

      <ng-container matColumnDef="CancellationPredict">
        <th mat-header-cell *matHeaderCellDef>Вероятность отмены</th>
        <td mat-cell *matCellDef="let element">
          {{ element.CancellationPredict }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>

</div>
<app-loading-dialog *ngIf="isLoading"></app-loading-dialog>
<app-error *ngIf="isError" (close)="isError=false"></app-error>
<app-format-hint
  (close)="hint = false"
  *ngIf="hint"
  [isCanceled]="true"
  [isAdd]="false"
></app-format-hint>
