<div class="container">
  <div class="overlay"></div>
  <div class="dialog-wrapper">
    <div class="dialog" style="position: absolute;">
      <div class="inside">
        <div style="cursor: pointer;" class="close" (click)="close.emit()">
          <button mat-icon-button aria-label="close dialog" mat-dialog-close>
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <div style="display: flex; flex-direction: column; padding-left: 25px;">
          <div class="text hint-text">Формат: csv файл</div>
          <div class="text hint-text">Поля: </div>
          <span>is_canceled: </span>
          <span>booking_id: </span>
          <span>lead_time: </span>
          <span>arrival_date_year: </span>
          <span>arrival_date_month: </span>
          <span>arrival_date_week_number: </span>
          <span>arrival_date_day_of_month: </span>
          <span>stays_in_weekend_nights: </span>
          <span>stays_in_week_nights: </span>
          <span>adults: </span>
          <span>children: </span>
          <span>babies: </span>
          <span>meal: </span>
          <span>country: </span>
          <span>market_segment: </span>
          <span>distribution_channel: </span>
          <span>previous_cancellations: </span>
          <span>previous_bookings_not_canceled: </span>
          <span>reserved_room_type: </span>
          <span>booking_changes: </span>
          <span>agent: </span>
          <span>company: </span>
          <span>days_in_waiting_list: </span>
          <span>customer_type: </span>
          <span>adr: </span>
          <span>required_car_parking_spaces: </span>
          <span>total_of_special_requests: </span>
        </div>
      </div>
    </div>
  </div>
</div>
